In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_table('datasetfinal.txt', sep='\t')
df

      Score  Time  Result
0        50    60       1
1        50    59       1
2        50    58       1
3        50    57       1
4        50    56       1
...     ...   ...     ...
1882    100    28       5
1883    100    27       5
1884    100    26       5
1885    100    25       5
1886    100    24       5

[1887 rows x 3 columns]

In [3]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [4]:
model = tree.DecisionTreeClassifier()

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df[['Score','Time']],df['Result'],train_size=0.99)

In [6]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [7]:
model.score(X_train, y_train)

1.0

In [8]:
model.predict(X_test)

array([2, 2, 1, 5, 3, 2, 3, 5, 2, 1, 5, 1, 1, 2, 5, 4, 2, 4, 1],
      dtype=int64)

In [9]:
X_test

      Score  Time
1230     83    51
649      67    40
378      60    52
1146     80    24
1857    100    53
499      63    42
1566     92    48
1546     91    31
32       50    28
154      54    54
1432     88    34
370      60    60
3        50    57
1304     85    51
1663     94    25
810      71    27
944      75    41
1833     99    40
413      61    54

In [10]:
model.score(X_test, y_test)

1.0